* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bannercover {
    margin: 0;
    display: flex;
    height : 526px;
    width : 100%;
    margin-top : 55px;
    background: linear-gradient(45deg,  rgb(32, 19, 46) 57%,rgba(254,2,104,1) 51%);
    max-width : 1303px;
}

.bannertext {
    height  : 400px;
    width : 30rem;
    margin: 50px 50px;
    cursor: pointer;
}

.bannerimage {
    height : 470px;
    width : 32rem;
    margin: 20px 5rem;
    cursor: pointer;
}

.bannerimage img {
    height : 100%;
    width : 100%;
    object-fit: fill;
}

.brand {
    font-size: 110px;
    margin-left : 9%;
    margin-top : 5rem;
    color: transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(254, 2, 104, 1) 7%, rgb(164, 90, 255) 79%);
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: 0;
    position: relative;
    letter-spacing: 7px;
}

.brand.animate {
    animation: text 2s ease-in-out;
}

@keyframes text {
    0% {
        color: #09001c;

    }
    30% {
       margin-left : -23px;
        color: #09001c;
        letter-spacing: 50px;
    }
   
}

.sale {
    font-size: 45px;
    margin-top : -1rem; 
    margin-left : 79%;
   color: rgb(164, 90, 255);
    cursor: pointer;
    position: relative; 
    overflow: hidden;
}

.sale.animate2 {
    animation: text2 2s ease-in-out;
}

@keyframes text2 {
    0% {
        transform: translateY(0); 
        color: #09001c;
        z-index: -1;
    }
    30% {
        color: #09001c;
        z-index: -1;
        letter-spacing: 26px;
        transform: translateY(-90px); 
    }
    90% {
        z-index: 1;
    }
    100% {
        transform: translateY(0); 
    }
}

.about {
    font-size: 13px;
    margin-left : 11%;
    color:rgb(247, 242, 254); 
    margin-right : 2rem;
    cursor: pointer;
    margin-bottom : 47px;
    position: relative; /* Keep this stable */
}
.about.animate3{
    animation: text3 2s ease-in-out;
}
@keyframes text3 {
    0% {
        color: #09001c;
        transform: translateY(0); 
    }
    30% {
        color: #09001c;
        transform: translateY(90px); 
    }
    50% {
        color: #09001c; 
    }
    100% {
        transform: translateY(0); 
    }
}
.buttoncontainer {
    font-size: 25px;
    display: flex;
    margin-top : 1rem;
    overflow: hidden;
}

.readmore {
    font-size: 10px;
    color:rgb(247, 242, 254); 
    height : 30px;
    width : 86px;
    border: 1px solid   rgb(247, 242, 254);  
    margin-left : 9rem;
    padding: 2% 2%;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.readmore.animate4{
    animation: text4 2s  ease-in-out;
}
@keyframes text4 {
    0% {
        color:#09001c;
        border:1px solid #09001c;
        transform: translateX(0); 
    }
    30% {
        color:#09001c;
        border:1px solid #09001c;
        transform: translateX(-90px); 
    }
    40% {
        color:rgb(247, 242, 254); 
        border: 1px solid  rgb(247, 242, 254); 

    }
    100% {
        transform: translateX(0); 
    }
}

.shopnow {
    font-size: 10px;
    color: rgb(255, 47, 130);
    height : 30px;
    width : 85px;
    margin-left : 0.7rem;
    padding: 2% 3%;
    border:1px solid rgb(255, 47, 130);
    font-weight: 800;
    cursor: pointer;
    position: relative;
  font-weight: 900;
  border-radius: 3px;
  overflow: hidden;
}
.shopnow.animate5{
    animation: text5 2s  ease-in-out;
}


@keyframes text5 {
    0% {
        color:#09001c;
        border:1px solid #09001c;
        transform: translateX(0); 
    }
    30% {
        color:#09001c;
        border:1px solid #09001c;
        transform: translateX(90px); 
    }
    40% {
        color: rgb(255, 47, 130);
        border:1px solid rgb(255, 47, 130);
    }
    100% {
        transform: translateX(0); 
    }
}
.link {
    text-decoration: none;
}

.bannercover1{
    display:none;
}











@media (max-width: 768px) {
    .bannercover {
        margin: 0;
        display: flex;
        height : 510px;

       
    }
    .sale {
        margin-left : 40%;
    }
    .about {
        margin-left : 1.5rem;
    }
    .bannertext {
        height  : 400px;
        width : 59.8%;
        margin: 80px 4px;
        cursor: pointer;
        z-index: 4;
    overflow: hidden;

    }
    .bannerimage {
        height : 400px;
        width : 40%;
        margin: 80px 3rem;
        cursor: pointer;
      overflow: hidden;
      background-color: transparent;
      z-index: 4;
    }
    
    .bannerimage img {
        height : 100%;
        width : 100%;
        object-fit: fill;
    }
    .brand {
        font-size: 72px;
        margin-left : 1.2rem;
        overflow: hidden;
    }

    .brand.animate {
        animation: text 2s ease-in-out;
    }
    
    @keyframes text {
        0% {
            color: #09001c;
    
        }
        30% {
           margin-left : -18px;
            color: #09001c;
            letter-spacing: 30px;
        }
       
    }
    .sale {
        font-size: 45px;
        margin-top : -1rem; 
        margin-left : 70%;
        overflow: hidden;
    }
    .sale.animate2 {
        animation: text2 2s ease-in-out;
    }
    
    @keyframes text2 {
        0% {
            transform: translateY(0); 
            color: #09001c;
            z-index: -1;
        }
        30% {
            color: #09001c;
            z-index: -1;
            letter-spacing: 20px;
            transform: translateY(-40px); 
        }
        90% {
            z-index: 1;
        }
        100% {
            transform: translateY(0); 
        }
    }
    .about {
        font-size: 8px;
        overflow: hidden;
    }
    .about.animate3{
        animation: text3 2s ease-in-out;
    }
    @keyframes text3 {
        0% {
            color: #09001c;
            transform: translateY(0); 
        }
        30% {
            color: #09001c;
            transform: translateY(60px); 
        }
        80% {
            color: #09001c; 
        }
        100% {
            transform: translateY(0); 
        }
    }





.buttoncontainer {
        font-size: 25px;
        margin-top : -1rem;
    }
    
    .readmore {
        font-size: 7px;
        height : 25px;
        width : 78px; 
        margin-left : 3rem;
        padding: 2.5% 4%; 
        overflow: hidden;
    }
    .readmore.animate4{
        animation: text4 2s  ease-in-out;
    }
    @keyframes text4 {
        0% {
            color:#09001c;
            border:1px solid #09001c;
            transform: translateX(0); 
        }
        30% {
            color:#09001c;
            border:1px solid #09001c;
            transform: translateX(-90px); 
        }
        60% {
            color:rgb(247, 242, 254); 
            border: 1px solid  rgb(247, 242, 254); 
    
        }
        100% {
            transform: translateX(0); 
        }
    }
    
    .shopnow {
        font-size: 7px;
        height : 25px;
        width : 78px; 
        margin-left : 1rem;
        padding: 2.5% 4%; 
        overflow: hidden;
    }
    .shopnow.animate5{
        animation: text5 2s  ease-in-out;
    }
  
    @keyframes text5 {
        0% {
            color:#09001c;
            border:1px solid #09001c;
            transform: translateX(0); 
        }
        30% {
            color:#09001c;
            border:1px solid #09001c;
            transform: translateX(90px); 
        }
        60% {
            color: rgb(255, 47, 130);
            border:1px solid rgb(255, 47, 130);
        }
        100% {
            transform: translateX(0); 
        }
    }
    .bannercover1{
        display:none;
    }
   
}
@media (max-width :480px ) { 
    .bannercover1{
        display: block;
    }
    .bannercover {
        display: none;
    }
    .bannercover1 {
        margin: 0;
        height : 470px;
        width : 100%;
        margin-top : 55px;
        background-image: linear-gradient(180deg, rgb(16, 11, 13) 47%, rgb(248, 20, 111) 79%);
        max-width : 480px;
    }
    .bannerimage1 {
        height : 420px;
        width :56%;
        margin: 20px 2rem;
        padding-top : 20px;
        cursor: pointer;
    }
    .bannerimage img {
        display: none;
    }

  
    .bannerimage1 img {
        height : 100%;
        width : 100%;
        object-fit: fill;
    }

.brand1 {
    font-size: 20vw;
    margin-top :8rem;
    color: transparent;
    margin-left : 3rem;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(254, 2, 104, 1) 7%, rgb(164, 90, 255) 79%);
    background-clip: text;
    -webkit-background-clip: text;
    top :0;
    position: absolute;
}
.sale1 {
    font-size: 14vw;
    margin-top : 13rem; 
    margin-left : 15rem;
   color: rgb(164, 90, 255);
    cursor: pointer;
    position: absolute;
    top :0;
}
.about1 {
    font-size: 13px;
    margin-top : 16.9rem;
    color:rgb(247, 242, 254); 
    cursor: pointer;
    position: absolute;
    top :0;
    width :80vw;
    margin-left : 3rem;
}
.readmore1 {
    margin-top : 20rem;
    font-size: 10px;
    color:rgb(247, 242, 254); 
    height : 30px;
    width : 86px;
    border: 1px solid   rgb(247, 242, 254);  
    margin-left : 9rem;
    padding: 2% 2%;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
    position:absolute;
    top :0;
}
.shopnow1 {
    margin-top : 20rem;
    color: rgb(255, 255, 255);
    font-size: 10px;
    height : 30px;
    width : 85px;
    margin-left : 3rem;
    padding: 2% 3%;
    border:1px solid rgb(255, 47, 130);
    font-weight: 800;
    position: absolute;
  font-weight: 900;
  border-radius: 3px;
  position:absolute;
  top :0;
}
}