.luggagecontainer {
    width : 100%;
    margin-top : 70px;
    display: grid;
    gap: 4rem; 
    box-sizing: border-box; 
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
    padding: 2rem;
    padding-left : 2rem;
    height : auto; 
    overflow-y: auto; 
    overflow-x: hidden; 
    max-width : 1303px;
}
@media (max-width :480px ) {
    .luggagecontainer {
          gap: 1rem; 
          padding-left : 1.1rem;
          margin-top : 2.5rem;
      }
    
    }
    @media (max-width :768px ) {
        .luggagecontainer {
            gap: 2.5rem; 
        padding-left : 0.5rem;
    }
    }