.categorybanner{
    height :60px;
    width :100%;
    margin-top : 4rem;
    font-size: 2rem;
    font-family: "Protest Guerrilla", sans-serif;
    padding-left : 43%;
    padding-top : 0.5rem;
    background: linear-gradient(90deg, #0f012a 40%, rgb(227, 227, 227) 100%);
    color:rgb(222, 195, 255);
    max-width : 1303px;
}

.category{
    width : 100%;
    margin-top : 3.4rem;
    display: grid;
    gap: 2rem; 
    box-sizing: border-box; 
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); 
    padding: 2rem;
    padding-left : 1rem;
    height : auto; 
    overflow-y: auto; 
    overflow-x: hidden; 
    max-width : 1303px;
}
.recommendcover{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}
.recommendcover:hover{
    filter: brightness(1);
}
.men{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}
.men:hover{
    filter: brightness(1);
}
.women{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}
.women:hover{
    filter: brightness(1);
}
.beauty{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}
.beauty:hover{
    filter: brightness(1);
}
.electronics{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}
.electronics:hover{
    filter: brightness(1);
}
.sports{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}
.sports:hover{
    filter: brightness(1);
}
.perfume{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}
.perfume:hover{
    filter: brightness(1);
}
.luggage{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}
.luggage:hover{
    filter: brightness(1);
}
.arrow{
    height :220px;
    width :190px;
    text-align: center;
    filter: brightness(0.7);
}

.imagediv{
height :190px;
width :100%;
border-radius: 10px;
}
.imagediv img{
height :100%;
width :100%;
object-fit:fill;
border-radius: 10px;
box-shadow: 0 0 10px rgb(27, 1, 56) ;
}
.arrowicon{
    font-size: 0.1rem;
    height :100%;
width :100%;
object-fit:fill;
border-radius: 10px;
box-shadow: 0 0 10px rgb(27, 1, 56) ;
color:rgb(164, 90, 255);

}
.title1{
height :30px;
width :100%;
padding-left :9px;
font-family: "Protest Guerrilla", sans-serif;
font-size: 1.0rem;
color:transparent;
cursor: pointer;
background-image: linear-gradient(90deg, rgba(254,2,104,1) 7%, rgb(164, 90, 255) 79%);
background-clip:text;
-webkit-background-clip:text;
font-weight: bolder;
margin-top : 0.5rem;
}
.title2{
    height :30px;
    width :100%;
    padding-left :9px;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.0rem;
    color:transparent;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    margin-top : 0.5rem;
 }
 .title3{
    height :30px;
    width :100%;
    padding-left :9px;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.0rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    margin-top : 0.5rem;
}
.title4{
    height :30px;
    width :100%;
    padding-left :9px;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.0rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    margin-top : 0.5rem;
}
.title5{
    height :30px;
    width :100%;
    padding-left :9px;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.0rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    margin-top : 0.5rem;
}
.title6{
    height :30px;
    width :100%;
    padding-left :9px;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.0rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    margin-top : 0.5rem;
}
.title7{
    height :30px;
    width :100%;
    padding-left :9px;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.0rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    margin-top : 0.5rem;
}
.title8{
    height :30px;
    width :100%;
    padding-left :9px;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 1.0rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    margin-top : 0.5rem;
}
.link{
    text-decoration: none;

}




@media (max-width :480px ) {
    .categorybanner{
        height :40px;
        font-size:1.2rem;
 }
 .category{
    margin-top : 3rem;
    gap: 1rem; 
    padding-left : 1rem;
}
}
