.navcover{
    top :0;
    left :0;
    height :69px;
    width :100%;
    background-color: #09001c;
    display: flex;
    position:fixed;
    max-width : 1303px;
    z-index:2;
    box-shadow: 0 0 5px #0a021a;
}
.logocover{
    height :80px;
width :200px;
margin-left : -0.5rem; 
z-index: 4;
}
.s{
    height :30%;
    width :60%; 
    color:#ff0066;
    padding-left : 30%;
    font-size: 2.9rem;
    font-weight: 800;
    cursor: pointer;
}
.y{
    margin-left : -7%;
    color:rgb(236, 222, 255); 
    font-size: 1.99rem;
    font-weight: 800;
    cursor: pointer;
}
.name{
    height :50%;
    width :60%; 
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(164, 90, 255) 17%,rgba(254,2,104,1)  39%);
  background-clip:text;
  -webkit-background-clip:text;
    font-size: 1.2rem;
    padding-left : 28%;
    padding-top :0.7rem;
    font-weight: 800;
    font-family: "Dancing Script", cursive;
    cursor: pointer;
}
.border{
border-top :1.2px solid #ffffff ;
width :2.05rem;
margin-left : 1.07rem;
}



.inputcover{
height :80%;
width :80%;
margin-left : 1rem;
}
.input{
padding-top : 0.46rem;
color: #edebe9 ;
height :100%;
width :100%;
outline:none;
border:none;
background-color:#bfb2ff00 ;
}
.input::placeholder {
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(254,2,104,1) 17%, rgb(252, 249, 255)  41%);
  background-clip:text;
  -webkit-background-clip:text;

}
.search{
    width :350px;
    height :40px;
    border-radius: 40px;
    margin-left : 4rem; 
  box-shadow: 0 0 3px rgb(208, 170, 255);
  border-left : 1px solid  rgb(208, 170, 255);
  border-right : 1px solid  rgb(208, 170, 255);
  background: linear-gradient(45deg,  rgba(208, 170, 255, 0) 51%, rgba(208, 170, 255, 0.436) 51%);
    backdrop-filter: blur(2px);
    display:flex;
    margin-top :0.9rem;
    position: relative;
   overflow: hidden;
 
}
.search:before {
    content: "";
    position: absolute;
    width : 20px;
    height : 67px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 30%,    rgb(208, 170, 255) 50%, rgba(255, 255, 255, 0.4) 70%, rgba(255, 255, 255, 0) 100%);
   opacity: 0.5;
    margin-top : -8px;
    margin-left : -29px;
    z-index: 0;
    transition: opacity 0.5s; 
    transform: rotate(-35deg);
}
.search.shine:before {
    animation: shining 1.5s linear; 
}
@keyframes shining {
    0% {
        transform: rotate(-35deg) scale(1);
    }
    50% {
        transform: rotate(-35deg) translate(180px, 110px) scale(1.05);
    }
    100% {
        transform: rotate(-35deg) translate(360px, 250px) scale(1);
    }
}
.searchicon{
font-size: 1.2rem;
color: #ff0066;
transition: transform 0.1s ease;
}
.searchicon:hover{
transform: scale(1.2);
}
.searchcover{
margin-left : 1rem;
margin-top : 0.65rem;
}








.cameraicon{
font-size: 1.2rem;
color: #ff0066;
transition: transform 0.1s ease;
}
.cameraicon:hover{
transform: scale(1.2);
}
.cameracover{
margin-top : 0.62rem;
}
.mikecover{
margin-left : 1.5rem;
margin-top : 0.62rem;
margin-right : 1rem;
}
.mikeicon{
font-size: 1.2rem;
color: #ff0066;
transition: transform 0.1s ease;
}
.mikeicon:hover{
transform: scale(1.2);
}
.threeicon{
    display:flex;
    margin-top : 1.15rem;
    width :240px;
    margin-left : 2rem; 
    height :40px;

}
.countcircle{
    margin-left : -1.7rem; 
    margin-top : -0.2rem;
    height :18px;
    width :18px;
    background: linear-gradient(90deg, rgba(254,2,104,1) 7%, rgb(164, 90, 255) 39%);
    border-radius: 50%;
    padding-left : 5px;
    padding-top : 1.1px;
    color:#ffffff ;
}
.wishcircle{
    margin-left : -1.5rem; 
    margin-top : -0.3rem;
    height :18px;
    width :18px;
    background: rgba(254,2,104,1) ;
    border-radius: 50%;
    padding-left : 5px;
    padding-top : 1.0px;
    color:#ffffff ;
}


.whilisticon{
font-size: 1.3rem;
color:#ff0066;
transition: transform 0.1s ease;
}
.whilisticon:hover{
transform: scale(1.1);
}
.bagicon{
font-size: 1.4rem;
color: rgb(164, 90, 255);
transition: transform 0.1s ease;
}
.bagicon:hover{
transform: scale(1.1);
}

.whilist{
    margin-left : 2rem;
    margin-top : 0.26rem;
}
.whilist p{
    width :3.3rem;
    margin-top :-0.05rem ;
    margin-left : -0.5rem;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 0.7rem;
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(254,2,104,1) 7%, rgb(164, 90, 255) 79%);
  background-clip:text;
  -webkit-background-clip:text;
}
.bag{
margin-left : 1.9rem;
margin-top : 0.17rem;
}
.bag p{
    width :3rem;
    margin-top :-0.07rem ;
    margin-left : 0.1rem;
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(164, 90, 255) 7%,rgba(254,2,104,1)  39%);
  background-clip:text;
  -webkit-background-clip:text;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 0.7rem;
}




.category{
    display:flex;
    width :450px;
    height :40px;
    margin-top : 1rem;
    margin-left : 1rem;
    color:rgb(231, 231, 231);
    justify-content:space-between;
    padding-top : 0.5rem;
    font-family: "Protest Guerrilla", sans-serif;
   font-size: 1.rem;
}



.home{
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg,rgba(254,2,104,1)  17%, rgb(164, 90, 255) 69%);
  background-clip:text;
  -webkit-background-clip:text;
}
.account{
    margin-left : 1.2rem;
    color: #ff0066;
    margin-top : 0.1rem;
}
.account p{
    width :3rem;
    margin-top :-0.30rem ;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 0.7rem;
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(254,2,104,1) 7%, rgb(164, 90, 255) 79%);
  background-clip:text;
  -webkit-background-clip:text;
}
.accounticon{
    font-size: 1.7rem;
    color:  rgb(228, 207, 255); 
    transition: transform 0.1s ease;
}
.accounticon:hover{
transform: scale(1.1);
}
.men{
    color:rgb(228, 207, 255);  

}
.women{
    color:rgb(228, 207, 255); 
}
.beauty{
    color:rgb(228, 207, 255);    
}
.sport{
    color:rgb(228, 207, 255);  
}
.men:hover{
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgba(254,2,104,1) 7%, rgb(164, 90, 255) 79%);
  background-clip:text;
  -webkit-background-clip:text;
}
.women:hover{
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgba(254,2,104,1) 7%, rgb(164, 90, 255) 79%);
  background-clip:text;
  -webkit-background-clip:text;
}
.beauty:hover{
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgba(254,2,104,1) 7%, rgb(164, 90, 255) 79%);
  background-clip:text;
  -webkit-background-clip:text;
}
.sport:hover{
    color:transparent;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgba(254,2,104,1) 7%, rgb(164, 90, 255) 79%);
  background-clip:text;
  -webkit-background-clip:text;
}
.home:hover{
    cursor: pointer;
}
.link{
    text-decoration: none;

}






@media (max-width: 768px) { 
    .navcover{
    top :0;
    left :0;
    height :63px;
    }
    .category{
        width :320px;
        margin-top : 0.8rem;
        margin-left : -2rem;
        padding-top : 0.7rem;
        font-size: 0.7rem;
    }
    .inputcover{
        margin-left : 0.5rem;
        }
        .input{
        padding-top : 0.22rem;
        }
        .input::placeholder {
          font-size: xx-small;
        }    
    .search{
        width :300px;
        height :25px;
        margin-left : 2rem;  
        margin-top :1.2rem;
        margin-right : 15px;
    }
    .searchicon{
        font-size: 1rem;
        transition: transform 0.1s ease;
        }
        .searchicon:hover{
        transform: scale(1.2);
        }
        .searchcover{
        margin-top : 0.35rem;
        }
    .cameraicon{
        font-size: 1rem;
        transition: transform 0.1s ease;
        }
        .cameraicon:hover{
        transform: scale(1.2);
        }
        .cameracover{
        margin-top : 0.32rem;
        }
        .mikecover{
        margin-top : 0.32rem;
        }
        .mikeicon{
        font-size: 1rem;
        transition: transform 0.1s ease;
        }
        .mikeicon:hover{
        transform: scale(1.2);
        }
    
    .threeicon{
        display:flex;
        margin-top : 1.15rem;
        width :200px;
        margin-left : auto;
        height :30px;
        right :0;
    }
    .countcircle{
        margin-left : -1.2rem; 
        height :16px;
        width :16px;
        padding-left : -134px;
      padding-top : -39px;
        font-size: small;
    }
    .wishcircle{
        margin-left : -1.2rem; 
        height :16px;
        width :16px;
        padding-left : -6rem;
      padding-top : -40px;
        font-size: small;
    }
    .whilisticon{
    font-size: 1rem;
    transition: transform 0.1s ease;
    }
    .whilisticon:hover{
    transform: scale(0.8);
    }
    .bagicon{
        font-size: 1.1rem;
        transition: transform 0.1s ease;
    }
    .bagicon:hover{
    transform: scale(0.8);
    } 
    .whilist{
        margin-left : 0.8rem;
        margin-top : 0.26rem;
    }
    .account{
        margin-left : 0.8rem;
        margin-top : 0.1rem;
    }
    .bag{
    margin-left : 1.1rem;
    margin-top : 0.17rem;
    }
    .whilist p{
        width :2.3rem;
        font-size: 0.5rem;
        margin-top :-0.02rem ;
        margin-left : -0.3rem;
    }
    .bag p{
        width :2rem;
        font-size: 0.5rem;
        margin-top :-0.04rem ;
        margin-left : 0.1rem;
    }
    .account p{
        width :2rem;
        margin-top :-0.20rem ;
        font-size: 0.5rem;
    }
    .accounticon{
        font-size: 1.25rem;
        transition: transform 0.1s ease;
    }
    .accounticon:hover{
    transform: scale(0.8);
    }
    .logocover{
    width :150px;
    margin-left : -0.8rem; 
    }
    .s{
        font-size: 2.3rem;
       margin-top : 0.5rem;
    }
    .y{
        font-size: 1.33rem; 
    }
    .name{ 
        font-size: 0.8rem;
        padding-left : 30%;
        padding-top :0.3rem;
        font-weight: 800;
        font-family: "Dancing Script", cursive;
        cursor: pointer;
    }
    .border{  
    width :1.4rem;
    margin-left : 0.65rem;
    }
    }










 @media (max-width :480px ) { 
    .search{
        display:none;
        transition:all 0.3s;
    }
    .secnav{
        top :0;
        left :0;
        height :55px;
        width :100%;
        background-color: #f4edff8e;
        position:fixed;
        max-width : 1303px;
        margin-top : 63px;
        backdrop-filter: blur(20px);
        z-index:7;
        box-shadow: 0px 0px 5px #0a021a,0px 0px 5px #0a021a;
        transition:all 0.3s;
    }
    .category2{
        display:flex;
        width :90%;
        height :40px;
        margin-top : 1rem;
        margin-left : 1.5rem;
       color:#0a021a;
        justify-content:space-between;
      max-width : 480px;
        font-family: "Protest Guerrilla", sans-serif;
       font-size:3vw;
       transition:all 0.3s;
    
    }
    .category{
        display:none;
    }
    .home1{
        color:transparent;
        cursor: pointer;
        background-image: linear-gradient(45deg,rgba(254,2,104,1)  17%, rgb(45, 24, 72) 69%);
      background-clip:text;
      -webkit-background-clip:text;
    }
    .men1{
        color:rgb(45, 24, 72);
    
    }
    .women1{
        color:rgb(45, 24, 72);
    }
    .beauty1{
        color:rgb(45, 24, 72);  
    }
    .sport1{
        color:rgb(45, 24, 72); 
    }
    .men1:hover{
        color:transparent;
        cursor: pointer;
        background-image: linear-gradient(45deg,rgba(254,2,104,1)  17%, rgb(45, 24, 72) 69%);
      background-clip:text;
      -webkit-background-clip:text;
    }
    .women1:hover{
        color:transparent;
        cursor: pointer;
        background-image: linear-gradient(45deg,rgba(254,2,104,1)  17%, rgb(45, 24, 72) 69%);
      background-clip:text;
      -webkit-background-clip:text;
    }
    .beauty1:hover{
        color:transparent;
        cursor: pointer;
        background-image: linear-gradient(45deg,rgba(254,2,104,1)  17%, rgb(45, 24, 72) 69%);
      background-clip:text;
      -webkit-background-clip:text;
    }
    .sport1:hover{
        color:transparent;
        cursor: pointer;
        background-image: linear-gradient(45deg,rgba(254,2,104,1)  17%, rgb(45, 24, 72) 69%);
      background-clip:text;
      -webkit-background-clip:text;
    }
    .home1:hover{
        cursor: pointer;
    }
    .navcover{
        display: flex;
       justify-content: flex-start;
    }
    .threeicon{
        margin-left : auto;
     
    }
   
    .sideopen{
        width :2rem;
        height :40px;
       margin-top : 0.4rem;
        margin-left : 1.7rem;
    }
    .sideopenicon{
        color:rgba(254,2,104,1);
        font-size: 1.35rem;
    }
    .sideopenicon2{
        color:rgb(255, 255, 255);
        font-size: 1.35rem;
        transition:all 0.8s;
    }
    .navcover{
        z-index:5;
        background-color: #000000;
    }
   
    }